header {background-color: black;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;}

body {background-image: url("img/BACK_LOGIN.jpg"); 
    background-size: cover; }


h1{ font-size: 2em ; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center; color: white);
}

.logo {display: flex;
justify-content: center;
 }
 
 .formulario {display: flex;
    justify-content: center;}

    .ingresar{display: flex;
        justify-content: center;
    margin: 10px;}

    .registro{display: flex;
        justify-content: center;}

h2{ font-size: 1em ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center; color: white;
} 
@font-face {
    font-family: "oleo-reg";
    src: url(OleoScript-Regular.ttf);
}

label{ font-size: 1em ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{ font-size: 1em ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {background-color: black; }

em{color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;}